<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corelands - Find Your Dream Home</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Corelands</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Properties</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>


                {% if request.user.is_authenticated %}
                <li><a href="/auth_log/logout">Logout</a></li>
                

                {% else %}
                <li><a href="/auth_log/signup">Signup</a></li>


                <li><a href="/auth_log/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h2>Discover Your Perfect Home</h2>
            <p>Best Investment On Earth Is Earth</p>
        </div>
    </section>

    <section class="featured-properties">
        <!-- Product Loop Section -->
        {% for properties, nSlides in allProp %}
        <h3 class="property-type-heading">{{ properties.0.property_type }}</h3>
            <div class="property-grid"> <!-- Changed to property-grid for the flex layout -->
                {% for property in properties %}
                    <div class="property-card"> <!-- Ensuring class consistency -->
                        <div class="card">
                            <!-- Displaying the first image of the property -->
                            <img src="/media/{{ property.image1 }}" class="card-img-top" alt="Image not found">
                            <div class="card-body">
                                <h5 class="card-title">{{ property.property_type }}</h5>  <!-- Displaying property type -->
                                <p class="card-text">{{ property.landmark }}</p>  <!-- Displaying the landmark -->
                                <h6 class="card-title">Location: <span>{{ property.location }}</span></h6>  <!-- Displaying the price -->
                                <a href="{% url 'property_detail' property.id %}">View</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </section>
    

    <footer>
        <p>&copy; 2024 Corelands. All Rights Reserved.</p>
    </footer>
</body>
</html>
