<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Corelands</title>
    <link rel="stylesheet" href="/static/signup.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Corelands</h1>
        </div>

    </header>
    <div class="signup-container">
        <div class="signup-box">
            <h2>Sign Up</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <form action="/auth_log/signup" method="POST">

                {% csrf_token %}

                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirmpassword" name="confirm_password" placeholder="Confirm your password" required>
                </div>
                <div class="input-group">
                    <button type="submit" class="btn">Sign Up</button>
                </div>
                <div class="login-redirect">
                    <p>Already have an account? <a href="/auth_log/login">Login here</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
